  <div class="panel panel-default">
    <div class="panel-body">
    <h2><%=@current_user.user_name%> Home <h2>
     new_session_book
     <%= link_to 'book' , books_path(@books) %>
     <br>
     Librarian : 
     <%= link_to 'Librarian' , librarians_index_path %>
    </div>
  </div>
