  <div class="panel panel-default">
    <div class="panel-body">
    <h1>Edit user</h1>
     
    <%= render 'form' %>
     
    <form><input class="btn btn-info" Type="button" VALUE="Back" onClick="history.go(-1);return true;"></input></form>
    </div>
  </div>
